@import url('/assets/common/button_mc/styles.css');
@import url('/assets/common/sign_mc/styles.css');
@import url('/assets/common/popup_mc/styles.css');


html {
    z-index: 1;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b34cc56e-0492-420f-9501-6ac3beb2282c/d7m6vw5-69a8ed98-5964-48f3-8014-564716be5bfb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IzNGNjNTZlLTA0OTItNDIwZi05NTAxLTZhYzNiZWIyMjgyY1wvZDdtNnZ3NS02OWE4ZWQ5OC01OTY0LTQ4ZjMtODAxNC01NjQ3MTZiZTViZmIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2L-CQAZfruuZZSUOczRAHJMsVS9kzZQO6Ok4Y4Rjjis');
}

#id01 {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template: 1fr 50% 1fr / 1fr 40% 1fr;
    grid-template-areas:
        ". . ."
        ". prompt ."
        ". . .";
}

#id01 .popup-mc_container {
    grid-area: prompt;
}

#id01 .bingo-login {
    display: grid;
    grid-template-columns: 1fr 10% 60% 10% 1fr;
    grid-template-rows: 10% 3fr 5% 1fr 5%;
    grid-template-areas:
        ". . . . ."
        ". . form . ."
        ". . . . ."
        ". con con con ."
        ". . . . .";
    align-items: center;
}

.bingo-login .login-form {
    grid-area: form;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    resize: both;
    overflow: auto;
    aspect-ratio: 2;
}

.bingo-login .button-mc_container {
    grid-area: con;
    gap: 3%;
}

#id01 .bingo-signup {
    display: none;
    grid-template-columns: 1fr 10% 60% 10% 1fr;
    grid-template-rows: 10% 3fr 5% 1fr 5%;
    grid-template-areas:
        ". . . . ."
        ". . form . ."
        ". . . . ."
        ". con con con ."
        ". . . . .";
    align-items: center;
}

.bingo-signup .signup-form {
    grid-area: form;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    resize: both;
    overflow: auto;
    aspect-ratio: 2;
}

.bingo-signup .button-mc_container {
    grid-area: con;
    gap: 3%;
}