@import url(/assets/common/popup_mc/styles.css);

html,body{
    height: 100%;
    width: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

#kiosk{
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 0.01fr 0.1fr 1fr;
    grid-template-areas: "nav nav" "header header" "main sidebar" "main ." " . language";
    background-image: url(/assets/img/netherbrick.jpg);
    background-repeat:repeat;
    background-size: contain;
}
#robot{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 0.01fr 1fr;
    grid-template-areas: "header header" "main sidebar" "main ." " . language";
    background-image: url(/assets/img/netherrackBackground.jpeg);
    image-rendering: pixelated;
    background-repeat:repeat;
}
#tutorial{
    background-image: url(/assets/img/woodwall.jpg);
    image-rendering: pixelated;
    background-repeat:repeat;
}
/* #video{
    background-image: url(/assets/img/cobblestonebackgroumd.webp);
    image-rendering: pixelated;
    background-repeat:repeat;
} */
#tutorial #video{
    margin-top: -20%;
    display: flex;
    align-content: center;
    justify-content: center;

}
#fr{
    display: grid;
    grid-area: 1/3;
}
h2{
    font-size: 70px;
    color: white;
}
#robot h2{
    font-size: 70px;
    color: white;
}
#video{
    display: flex;
    align-content: center;
}
#content{
    gap: 5%;
}
#VideoPage{
    background-image: url(/assets//img/cobblestonebackgroumd.webp);
    height: 100%;
    width: 100%;
    background-size: cover;
}
#main{
    grid-area: main;
    justify-items: center;
    display: flex;
    flex-flow: column nowrap;
    /* background-color: white; */
    align-items: stretch;
}
.lantern,.lamp, .torch{
    max-height: 100px;
    /* margin-right: auto;
    margin-left: auto; */
    position: relative;
    bottom: -50px;
    padding: 1%;
}
.light{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
#links{
    grid-area: header;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: space-between;
    max-height: 1%;
}
#kiosk #links{
    grid-area: nav;
}
.flip{
    transform:scaleX(-1);
}

.lantern:hover{
    content: url(/assets/img/SoulLantern.webp);
}

.lamp:hover{
    content:url(/assets/img/RedstoneLampOn.webp)
}

.torch:hover{
    content: url(/assets/img/SoulTorch.webp);
}
.image, .text{
    margin-left: 10%;
    background-color: #c6c6c6;
    border-radius: 6px;
    box-shadow: inset 2px 2px #fbfbfb, inset -2px -2px #545454;
    grid-auto-flow: column;
    border: black solid 2px;
    padding: 1%;
}
.image{
    max-height: 600px;
    min-height: 300px;
    max-width: 75%;
    margin-top: 1%;
    scale: 90%;
    overflow: hidden;
    object-fit: cover;

    flex: 0 1 10%;
    max-width: 75%;
    padding: 5%;
    background-color: #8c8686;
    border-radius: 6px;
    box-shadow: inset 2px 2px #fbfbfb, inset -2px -2px #545454;
    grid-auto-flow: column;
    border: black solid 2px;
    min-width: 0;
}
#sideImgs{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    grid-area: sidebar;
    /* background-color: red; */
    list-style-type: none;

    & img {
        flex: 0 1 10%;
        max-width: 75%;
        padding: 5%;
        background-color: #c6c6c6;
        border-radius: 6px;
        box-shadow: inset 2px 2px #fbfbfb, inset -2px -2px #545454;
        grid-auto-flow: column;
        border: black solid 2px;
        min-width: 0;
    }
}
#imgs{
    list-style-type: none;
    margin-right: 10%;
}
#imgs li img{
    width: 100%;
    margin-bottom: 3%;
    min-width: 50%;
    background-color: #c6c6c6;
    border-radius: 6px;
    box-shadow: inset 4px 4px #fbfbfb, inset -9px -9px #545454;
    grid-auto-flow: column;
    border: black double 2px;
}
#robot #head{
    grid-area: header;
    width: 100%;
    height: min-content;
}
#top{
    grid-area: header;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    height: 80%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#robot #top{
    margin-top: 0%;
}
.text{
    margin-right: 10%;
    padding-left: 1%;
}
a{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    height: fit-content;
}
#robot a{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    height: fit-content;
}
a:hover{
    color: #545454;
}
#robot a:hover{
    color: #b78438;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
from {opacity: 0.1}
to {opacity: 1}
}
#slideshow .mySlides {
    display: none;
    width: 200%;
    height: 450%;
  }
.next{
    margin-left:60%;
}